entrypoint = "index.ts"

hidden = [".config", "bun.lockb"]
modules = ["bun-1.1"]

[nix]
channel = "unstable"

[deployment]
build = [
  "sh",
  "-c",
  "mkdir .build && bun build --compile src/index.ts -o .bin/bitai",
]
run = ["bun", "src/index.ts"]

[[ports]]
